<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proje</title>
</head>
<body>
    <p>anahtar kelime bulma işlemi...</p>
    <form action="/2" method="post">  
        <input type="text" name="text">
        <button type="submit"> A.K. Bul </button>
    </form>
    {% for anahtar,deger in anahtarlar %}
        <p>{{anahtar,deger}}</p>
    {% endfor %}
</body>
</html>