<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proje</title>
</head>
<body>
    <p>Proje dinamik URL mantığıyla çalışmaktadır...</p>
    <p>"/1":frekans hesaplama..</p>
    <p>"/2":anahtar kelime bulma..</p>
    <p>"/3":benzerlik skoru hesaplama..</p>
    <p>"/4":indexleme ve sıralama..</p>
    <p>"/5":semantik analiz..</p>
</body>
</html>